@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');
/* font-family: 'Nunito Sans', sans-serif; */
*{
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    background: #c0c0c0;
    font-family: 'Nunito Sans', sans-serif;
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;
}
@-webkit-keyframes slidein {
    from {background-position: top; background-size:3000px; }
    to {background-position: -100px 0px;background-size:2750px;}
    }
    
    @keyframes slidein {
    from {background-position: top;background-size:3000px; }
    to {background-position: -100px 0px;background-size:2750px;}
    
    }
.container{
    width:90vw;
    height: 90vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* display: flex;
    flex-wrap: wrap; */
}
.box{
    border-radius: 50px;
    /* background: #c0c0c0; */
    box-shadow:  14px 14px 28px #adadad,
             -6px -14px 10px #9e9d9d;
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px;
}
h1{
    font-weight: bold;
    font-size: 36px;
    padding: 30px 0;
}
.content{
    padding: 0 40px;

}
.input{
    background: white;
    box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
    border-radius: 28px;
    padding: 20px 0;
    width: 400px;
    margin-bottom: 20px;
}
.input label{
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}
.input input{
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 60%;
    text-align: center;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}
/*  */
select{
    font-family: 'Nunito', sans-serif;
    outline: none;
    border: none;
    color: #ddd;
    background-color: black;
    border-radius: 8px;
    height: 20px;
    width: 50px;
    margin-bottom: 0;
}
/*  */
.none{
    display: none;
}
.fts input{
    width: 30%;
    margin: 0 8px;
    /* padding: 0 12px; */
    font-size: 20px;
}
.ht-content{
    display: flex;
    margin: 0 30px;
    align-items: center;
    justify-content: center;
}
/*  */
/*  */
button{
    font-family: 'Nunito', sans-serif;
    color: white;
    background-color: black;
    font-size: 16px;
    /* border-radius: 2px solid #2f2c2c; */
    border-radius: 12px;
    border:2px solid black;
    padding: 12px 0;
    width: 100%;
    margin-bottom: 12px;
    outline: none;
    border: none;
    transition: background .2s ease;
}
button:hover{
    background-color: #5e5b5b;
    /* background-color: transparent; */
    border:2px solid black;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 140px;
}
.result{
    padding: 30px 20px;
}
.result p{
    font-weight: 600;
    font-size: 22px;
    color: black;
    margin-bottom: 15px;
}
.result #result{
    font-size: 36px;
    font-weight: 900;
    color: black;
    background-color: white;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 55px;
    margin-bottom: 25px;
}
#comment{
    color: white;
    font-weight: 800;
}
/*  */
/*  */
/* Bar */
.bmi-chart {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
    width: 0%;
    position: relative;
    border-radius: 28px;
    background:linear-gradient(to right,green,yellow,orange, red);
    /* transition: width .4s ease; */
    /* background-color: #ddd; */
}

.bmi-value {
    height: 20px;
    right: 0;
    width: 0%;
    border-top-right-radius:28px ;
    border-bottom-right-radius:28px ;
    background-color: #ddd;
    position: absolute;
}
/* Responsive */
@media (max-width: 580px) {
    .container{
        display: flex;
        flex-wrap: wrap;
        /* width: inherit;
        height: inherit; */
    }
}